html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html, body {
    color: #000;
    margin: 0;
    background: #dddcdc
}

html, body, button, textarea {
    font-family: arial, sans-serif
}

a {
    text-decoration: none !important
}

a img {
    border: 0
}

ul, li {
    padding: 0;
    margin: 0
}

ul {
    padding-left: 20px
}

a.arrow_link span, .ufi a span, .response, .url-btn, .darkblue, .edit_widget_title, .ewb span, a {
    color: #0e3c87
}

.info {
    padding: 10px;
    border: 1px solid #75a175;
    background: #e5f6eb
}

.error, .block.error, .error_block, .list_item .error_block, .pinkBlock, .textarea_error {
    border: 1px solid #ff9a95 !important;
    background: #fdf3ef !important;
    word-wrap: break-word
}

.error_wrapper .error {
    margin: 0 -11px
}

.error_wrapper.first .error {
    margin-top: -11px
}

.error_wrapper.last .error {
    margin-bottom: -12px
}

.title, .textarea_error {
    padding: 3px
}

a.top_menu_link {
    padding: 9px
}

.warning {
    background: #FFFFD0;
    border: 1px solid #F0D000
}

.operamini .error input[type="text"], .operamini .error_block input[type="text"], textarea, input[type="text"], input[type="password"], .busi_switcher table a {
    background: #fff
}

input[type="checkbox"], .chb_lbl .lbl_sub_text {
    margin-left: 4px
}

input[type="file"] {
    max-width: 100%
}

.wbg {
    background: #fff !important
}

.main, #logo_panel, .item_head_bg {
    background: #f5f5f5
}

.upcs {
    text-transform: uppercase
}

.t_transform_none {
    text-transform: none
}

.block_hr, .block_hrs {
    border-bottom: 1px dotted #999
}

.block_hrs {
    padding: 2px;
    width: 120px
}

.clear, hr, .cl {
    clear: both
}

.relative, .attaches_item, .bookmark_block, .fdw, .iwb, .busi_switcher table td, .busi_switcher table a {
    position: relative
}

.poll {
    min-width: 120px
}

.progress {
    background: grey;
    height: 4px
}

.leader div.progress {
    background: green
}

.url-btn, .response, .error_block .error, .ewb {
    background: transparent !important;
    border: none !important
}

.url-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word
}

.url-btn {
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    outline: 0
}

.url-btn-title {
    color: #000
}

.url-btn-important {
    color: #57a3ea
}

.file_name, .search_bar, .more_link, .list_item, .edit_title_block, .busi_switcher table a, .edit_button {
    color: #333
}

.pag {
    padding: 5px 10px
}

.wrapper .pag {
    padding: 5px;
    border-bottom: 0
}

.grey, a.grey_link, span.grey_link a, .mc9304c09, a.light_link {
    color: #7a90a0
}

.lgrey {
    color: #aaa
}

.lgrey2 {
    color: #a4b7c5
}

.lgrey3 {
    color: #b5c2c8
}

.ico, .ico_chat, .ico_lists, .ico_mrg {
    margin: 0 4px -3px 0
}

.ico_no-mrg {
    margin: 0 !important
}

.js-ico.m {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.url-btn, .image_limit img, .spoiler img, .attaches_limiter img, .AttachRender img, .short_attach img, .attaches-fixer img, .preview_block img {
    max-width: 100% !important;
    max-height: 360px
}

.operamini .image_limit .preview, .operamini .attaches-fixer .preview {
    width: 100%;
    height: auto;
    max-height: none
}

.emoji {
    width: 20px;
    height: 20px;
    vertical-align: -3px
}

.js-on .spoiler {
    display: none
}

.i_fix img {
    width: 100%
}

.pag a, .pag input, .pag .dis, .pag .blk, .pag button {
    display: inline-block;
    background: #fff;
    color: #7a90a0;
    padding: 6px 0;
    overflow: hidden;
    box-sizing: content-box;
    outline: none;
    margin: 0
}

.pagn a, .pagn input, .pagn .dis, .pagn .blk, .pagn button {
    border: 1px solid #cdd4e1 !important
}

.pag input[type="submit"] {
    padding: 6px 0;
    border: none
}

.pag .dis {
    color: #c2cbd2
}

.mr {
    margin-right: -1px !important
}

.pagw {
    display: block;
    padding-right: 2px
}

.pagwr {
    padding-right: 1px
}

.pagwb {
    padding-right: 0px
}

.pagw a, .pagw .blk, .pagw input, .pagw button, .pagw .dis, .pgl .pagw .cur {
    width: 100%
}

.pagwb .blk, .pagwb input {
    border-right: 0 !important;
    border-left: 0 !important
}

.pag .table__wrap {
    white-space: nowrap
}

.pgl .table__wrap {
    table-layout: fixed
}

.table__cell_spb {
    width: 80px
}

.pagwr a, .pagwr input, .pagwr button, .pagwr .cur {
    border-right: 0 !important
}

.pag .table__cell {
    border: 1px solid #cdd4e1 !important
}

.pagn .table__cell {
    border: none !important
}

.pgl {
    padding-top: 4px
}

.pni {
    width: 26px;
    padding: 6px 3px !important;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #cdd4e1 !important
}

.pgl .separate {
    padding: 1px 2px
}

.mt_1 {
    margin-top: 1px
}

.smscr .pgl .spb {
    padding: 0 3px 1px 0
}

.wpni {
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: top
}

.pgfs {
    padding: 6px 5px !important
}

.safari .symbian .pgfs, .safari .android .pgfs {
    height: auto
}

.pni, .wpni, .pgl .cur, .pgl .spb, .form-link-wrap {
    display: inline-block
}

.pgl .cur {
    background: #b8cde3;
    border: 1px solid #b8cde3;
    color: #323232;
    padding: 6px 0;
    margin: 0;
    overflow: hidden;
    box-sizing: content-box;
    border-left: 1px solid #cdd4e1
}

.pgl .table__cell:first-child .cur {
    border-left: 1px solid #b8cde3
}

.pgl i {
    padding-right: 3px
}

.pag .dot {
    padding: 0 7px 0 8px;
    color: #7a90a0
}

counterBlock, .pl_photo_image_info, .fd, .signature {
    font-size: 12px
}

input[type="submit"].main_submit, input[type="button"].main_submit, .white, input[type="submit"].positive_button, .submit_link {
    color: #fff
}

.spb i {
    padding: 1px
}

.pgl, .font0, .awb {
    font-size: 0
}

.edit_button {
    border: 1px solid #a0a0a0;
    padding: 3px 8px;
    margin: 0
}

.list_item table, .busi_switcher table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px
}

.busi_switcher table {
    table-layout: fixed
}

.busi_switcher {
    margin-top: -1px;
    margin-bottom: -1px
}

.backlink {
    word-wrap: break-word;
    border-bottom: 1px solid #acb8ca
}

.busi_switcher table .active_item {
    background: #e6e6e6
}

.busi_switcher table a, .busi_switcher table span.active_item {
    border: 1px solid #c5c5c5;
    border-right: 0;
    margin-left: -1px;
    padding: 5px 0
}

.simple_switcher {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5
}

.simple_switcher a, .simple_switcher .active_item {
    margin: 0 !important;
    border: 0;
    padding: 5px 0 !important
}

.simple_switcher td.active_item {
    border-right: 1px solid #cdd4e1
}

.simple_switcher .table__cell_last.active_item {
    border-right: 0
}

.simple_switcher table a {
    background: transparent
}

.main_switcher table a, .main_switcher table .active_item {
    border-right: 1px solid #c5c5c5
}

#main > .busi, .wrapper > .busi {
    border-right: 0;
    border-left: 0
}

.busi, .yellow-block {
    background: #fcf5ca;
    border: 1px solid #d9cebf
}

.busi, .info, .error, .error_block, .yellow-block {
    position: relative;
    z-index: 1000;
    margin: -1px 0
}

.button_block {
    padding: 15px 10px
}

.friends_access_list, .button_block input, .form_button {
    border: 1px solid #999
}

.button_block input, .form_button, input[type="submit"], input[type="button"].main_submit, input[type="submit"].positive_button, .submit_link {
    line-height: 100%;
    padding: 5px
}

.pag .pgar .page {
    margin: 0
}

.word_break, .list_item, .friends_access_list, .bubble, .stnd_padd {
    word-wrap: break-word
}

.pag, .search_bar, .bottom_link_block, .list_item, .button_block, .title_block, .sub_menu, .strong_border {
    border-bottom: 1px solid #b3b3b3
}

.list_item, div.backlink, .title_block, .friends_access_list, .error, .error_block, .list_item .error_block, .busi, .pinkBlock, .stnd_padd, .stnd_padd3, .stnd_padd4, .bottom_link_block, .search_bar, .start_page_padd {
    padding: 10px
}

.stnd_padd4 {
    padding: 5px
}

a.region_link:visited, .author_settings, a.region_link, .t-strong_special .gr {
    color: green !important
}

.shared_item .fdw, .busi .site-versions, .system-message .site-versions, .left, #logo_link {
    float: left
}

.iwb, .list_item, .sub_menu, .busi_switcher table span, .busi_switcher table a, a.top_menu_link {
    display: block
}

.etb .iwb {
    margin-left: 2px
}

.etb {
    padding-left: 25px
}

.right, .file_size, .comment_date, .percentage, div.date {
    float: right
}

.bottom_link_block, .search_bar, div.backlink, body .blue_bg, .title {
    background: #ebf3fe
}

.lh_160 {
    line-height: 175%
}

.lh_100 {
    line-height: 100%
}

.margin0 {
    margin: 0 !important
}

.pre_content_wrap {
    padding-left: 10px
}

.text_right, right_text {
    text-align: right !important
}

.t_center .block.oh, .text_left, .text_left > div {
    text-align: left !important
}

.att_it, .overfl_hid, #logo_panel, .pre_content_wrap, .preview_widget div, .m08648f70, .preview_widget, .bookmark_block, #mads, .comm_attach, .oh, .cf {
    overflow: hidden
}

#logo_panel {
    padding: 7px 10px
}

.preview_block, .busi_switcher table, a.top_menu_link, .table__wrap-layout .table__cell.t_center, .t_center {
    text-align: center
}

.t_left {
    text-align: left
}

.preview_block .fdw {
    display: inline-block;
    font-size: 0;
    max-width: 100%
}

.pd_t5 {
    padding-top: 2px
}

.green_box a span, .color-green, a.neutral_link span {
    color: #108210
}

.middle, a.icolink, a.iconized, img.icon, .m, .img_c img, .im > span {
    vertical-align: middle !important
}

.bottom {
    vertical-align: bottom !important
}

.edit_checbox {
    margin-right: 9px
}

.top, .list_item table td, .icon_in_link {
    vertical-align: top
}

.topi {
    vertical-align: top !important
}

input[type="submit"], select.select {
    border: 1px solid #a5a5a5;
    background: #fefefe
}

select.select {
    padding: 3px
}

input[type="submit"].main_submit, input[type="button"].main_submit, .submit_link {
    border: 1px solid #395387;
    background: #395387;
    padding: 8px 18px
}

input[type="submit"].positive_button {
    border: 1px solid #48a15e;
    background: #6bb377
}

a.strong_link, .strong_link a, a.strong_link span, .url-btn-blue, .bright_blue, .link-blue {
    color: #00a5ed !important
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
    background: #fefefe;
    border: 1px solid #A6A6A6
}

.dot_pic {
    margin-right: 6px
}

.bmc a {
    margin-right: 4px;
    margin-bottom: 0
}

a.red_link, a.red_link span, .red_item {
    color: #933
}

.light_blue {
    background: #eaeef4
}

.list_item .list_item, .start_page_padd {
    border-bottom: none
}

.slb a, .slb {
    color: #9db8c6
}

.old_browser_o .pni, div.poll {
    width: auto
}

.old_browser_o .wpni, .old_browser_o .pni {
    display: inline
}

.mr_l_0 {
    margin-left: 0 !important
}

.pad_t_a {
    padding-top: 10px
}

.pad_b_a {
    padding-bottom: 10px !important
}

.pad_t_b {
    padding-top: 15px
}

.light_border_bottom {
    border-bottom: 1px solid #cdd4e1
}

.light_border_top {
    border-top: 1px solid #cdd4e1
}

.mr0, .mr0 .tools-btn, .start_page_padd .dot_pic {
    margin-right: 0 !important
}

.rotate_button {
    width: 25px;
    height: 25px
}

.turn_left {
    background: #fff url(//c.spac.me/i/rotate_left.png) center center no-repeat !important
}

.turn_right {
    background: #fff url(//c.spac.me/i/rotate_right.png) center center no-repeat !important
}

.mt_0, .bmc {
    margin-top: 0px !important
}

.mt, .mt_inner > div {
    margin-top: 10px
}

.a_button, .attach_button {
    border: none !important;
    background: url(//c.spac.me/i/attach.png) center no-repeat !important
}

.a_button {
    background: url(//c.spac.me/i/a.png) center no-repeat !important
}

.delete_attach {
    border: none !important;
    background: url(//c.spac.me/i/cross_r.gif) center no-repeat !important
}

.attach_block {
    margin-top: 10px;
    background: #D8E3E7
}

.at_list .list_item:last-child, .attach_block .list_item:last-child {
    border-bottom: none;
    padding-bottom: 0
}

i.i {
    font-style: normal
}

.search_input {
    width: 100%;
    padding: 3px 4px;
    line-height: 100%;
    margin: 0
}

.grey_bg {
    background: #e6e5e5
}

.light_bg {
    background: #eef2f5
}

.light_item {
    color: #777 !important
}

.blue_border_bottom {
    border-bottom: 1px solid #adc4e8
}

.light_blue_bg {
    background: #ccd8eb
}

.light-comment, .no-borders .light-comment, .vlight_border_bottom {
    border-bottom: 1px solid #ddd
}

.blue_wrap_block {
    background: #eaeef4
}

.tabs_block {
    position: relative;
    z-index: 200
}

.tabs_block .tab_item {
    padding: 12px 9px 8px 9px;
    margin-right: 0;
    margin-left: -1px;
    border: 1px solid #c5d3e1;
    text-transform: uppercase;
    font-weight: bold;
    background: #e4e1e1;
    color: #323232;
    display: block
}

.android .tabs_block .tab_item {
    padding-left: 3px;
    padding-right: 3px
}

.tab_title {
    float: left;
    padding: 8px 15px 7px 10px
}

.tabs_block .tab_active {
    background: #fff;
    position: relative;
    z-index: 50;
    border-bottom: 1px solid #fff
}

.tabs_line {
    margin-top: -1px;
    border-top: 1px solid #cccaca;
    position: relative;
    z-index: 100
}

.tabs_block {
    margin-bottom: -1px;
    padding: 5px 6px 0px 6px
}

.tabs_block + .wrapper {
    margin-top: 0
}

.progress-item {
    height: 10px;
    background: #d9e3ef
}

.progress-item__runner {
    height: 10px;
    background: #61a961
}

.progress-item__runner_light {
    background: #9ab2cc
}

.progress-item__runner_anim {
    background: #9ab2cc url(//c.spac.me/i/progress.gif?r=1538p) repeat-x
}

.progress-item_top {
    margin-top: 25px
}

.progress-item__num {
    color: #a4b7c4;
    padding-left: 5px
}

.progress-item__num_fin {
    color: #61a961 !important
}

.td_progress {
    vertical-align: middle !important;
    width: 90%
}

.td_progress_num {
    white-space: nowrap
}

.lenta_item, .poll_block {
    background: #fff;
    border: 1px solid #ccc
}

.counterBlock, #counterBlock {
    color: #888
}

.nowrap {
    white-space: nowrap
}

.t-block_item {
    display: block
}

.t-block_item_left_border {
    border-left: 1px solid #cccaca
}

.t-bg1 {
    background: #f0f0f0
}

.t-bg2 {
    background: #edf3ff
}

.t-bg3 {
    background: #fff
}

.t-bg_arrow_next {
    background: url('//c.spac.me/i/arrow_next.png') right center no-repeat
}

.t-bg_arrow_prev {
    background: url('//c.spac.me/i/arrow_prev.png') left center no-repeat
}

.t-link_no_underline_block {
    color: #333;
    cursor: pointer
}

.t-padd_left {
    padding-left: 10px
}

.t-padd_right {
    padding-right: 10px
}

.t-light_link {
    color: #666
}

.t-strong_red {
    color: #933
}

.t-link_top_item {
    z-index: 30;
    position: relative
}

.t-padd_left_add {
    padding-left: 20px
}

.no_word_break {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.player_pb_ico {
    background: url(//c.spac.me/i/play_btn.png)
}

.hid {
    visibility: hidden;
    opacity: 0.01
}

video {
    width: 100%;
    height: 100%;
    background-color: #000
}

.splr_item {
    display: inline-block;
    cursor: pointer;
    margin: 10px 0;;
    max-width: 100%
}

.spo_desc {
    color: #0e3c87;
    border-bottom: 1px dotted;
    display: inline-block;
    word-break: break-word;
    max-width: 100%
}

.splr_item_hided .spo_desc {
    color: #7a90a0;
    border-bottom: 1px dotted #7a90a0
}

.spo_text {
    margin-top: 5px
}

.mb0 {
    margin-bottom: 0 !important
}

.mb18 {
    margin-bottom: 18px
}

.pl0 {
    padding-left: 0 !important
}

.pr0 {
    padding-right: 0 !important
}

.bt0 {
    border-top: 0 !important
}

.no-borders .light-comment:last-child, .no-borders #m8ee7ce2d, .no-borders .list_item, .no-borders .strong_border, .list_item .list .stnd_padd:last-child, .list_item .list .t-block_item:last-child, .sub_link a, .bb0 {
    border-bottom: 0 !important
}

.mt_m1 {
    margin-top: -1px
}

.mt_p1 {
    margin-top: 1px
}

.m_pt {
    padding-top: 6px
}

.m_pb {
    padding-bottom: 4px
}

.adv_user_link, .adv_user_link span {
    display: block !important
}

.adv_user_link {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px !important;
    margin-right: 10px;
    background: #f7fafa;
    position: relative
}

.gallery__descr {
    background: transparent url('//c.spac.me/i/gallery_descr_bg.png?r=1538p') left bottom repeat-x
}

.ico_payment {
    margin: 0 3px -3px 0;
    background: url("//c.spac.me/i/ico_payment.png?r=1538p") no-repeat
}

.ico_services {
    background: url("//c.spac.me/i/ico_services.png?r=1538p") no-repeat;
    width: 32px;
    height: 32px
}

.ico_gallery {
    background: url("//c.spac.me/i/ico_gallery.png?r=1538p") no-repeat
}

.ico_soc {
    margin: 0 3px -3px 0;
    background: url("//c.spac.me/i/ico_soc.png?r=1538p") no-repeat;
    width: 18px;
    height: 18px
}

.ico_lenta {
    margin: 0 4px -3px 0;
    background: url("//c.spac.me/i/ico_lenta.png?r=1538p") no-repeat
}

.ico_about {
    background: url("//c.spac.me/i/ico_about.png?r=1538p") no-repeat;
    width: 32px;
    height: 32px
}

.ico_lists {
    background: url("//c.spac.me/i/ico_lists.png?r=1538p") no-repeat
}

.tile-menu__pic {
    margin: 25px 0 10px 0;
    background: url("//c.spac.me/i/tile_main.png?r=1538p") no-repeat;
    width: 40px;
    height: 40px
}

.f__ico, .footer_edit .footer__links-wrapper .footer__link:after, .horiz-menu__link-ico {
    display: inline-block;
    background: url("//c.spac.me/i/quick_links.png?r=1538p") no-repeat;
    width: 22px;
    height: 22px
}

.ico_cats {
    background: url("//c.spac.me/i/ico_cats.png?r=1538p") no-repeat
}

.ico_soo {
    background: url("//c.spac.me/i/ico_soo.png?r=1538p") no-repeat
}

.ico_mail {
    background: url("//c.spac.me/i/ico_mail.png?r=1538p") no-repeat
}

.ico_abar {
    background: url("//c.spac.me/i/ico_abar.png?r=1538p") no-repeat
}

.ico_prof {
    background: url("//c.spac.me/i/ico_prof.png?r=1538p") no-repeat
}

.ico_attaches {
    margin: 0 4px -3px 0;
    background: url("//c.spac.me/i/ico_attaches.png?r=1538p") no-repeat
}

.ico_chat {
    background: url("//c.spac.me/i/ico_chat.png?r=1538p") no-repeat
}

.adv_user_link span {
    cursor: pointer;
    background: url("//c.spac.me/i/adv_links.png?r=1538p") no-repeat;
    width: 16px;
    height: 16px
}

.ico, .s-chb:after, .form-checkbox:after, .pgn__go, .mail__checkbox:after, body input[type=submit].delete-btn {
    display: inline-block;
    background: url("//c.spac.me/i/ico.png?r=1538p") no-repeat;
    width: 16px;
    height: 16px
}

.ico_flags {
    margin-right: 5px;
    background: url("//c.spac.me/i/ico_flags.png?r=1538p") no-repeat;
    width: 18px;
    height: 12px
}

.ico_mchest {
    background: url("//c.spac.me/i/ico_mchest.png?r=1538p") no-repeat;
    width: 48px;
    height: 48px
}

.ico_compl {
    margin: 0 4px 1px 0;
    background: url("//c.spac.me/i/ico_compl.png?r=1538p") no-repeat;
    width: 9px;
    height: 9px
}

.ico_adult {
    background: url("//c.spac.me/i/ico_adult.png?r=1538p") no-repeat;
    width: 56px;
    height: 56px
}

.ico_player {
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("//c.spac.me/i/ico_player.png?r=1538p") no-repeat;
    width: 48px;
    height: 48px
}

.ico_header_logo_newyear {
    margin: 0 4px -3px 0;
    display: inline-block;
    background: url("//c.spac.me/i/ico_header_logo_newyear.png?r=1538p") no-repeat;
    width: 100px;
    height: 18px
}

.ico_logo_newyear {
    background: url("//c.spac.me/i/ico_logo_newyear.png?r=1538p") no-repeat;
    width: 126px;
    height: 22px
}

.ico_files {
    margin: 0 4px -1px 0;
    background: url("//c.spac.me/i/ico_files.png?r=1538p") no-repeat
}

.ico_payment, .ico_gallery, .ico_lenta, .ico_lists, .ico_cats, .ico_soo, .ico_mail, .ico_abar, .ico_prof, .ico_attaches, .ico_chat, .ico_files {
    display: inline-block;
    width: 16px;
    height: 16px
}

.ico_services, .ico_soc, .ico_about, .tile-menu__pic, .ico_flags, .ico_mchest, .ico_compl, .ico_adult, .ico_player, .ico_logo_newyear {
    display: inline-block
}

.m5d5a1211 {
    margin: 0;
    background-position: 0px -180px;
    width: 50px
}

.m32f797aa {
    background-position: -22px -198px;
    width: 20px;
    height: 20px
}

.ico_mail_spam, .mail__button.disabled:active .ico_mail_spam {
    background-position: -36px -90px
}

.mail__button:active .ico_mail_spam, .list-link:active .ico_mail_spam, .mail__msg:active .ico_mail_spam, .btn-single:active .ico_mail_spam, .link_active .ico_mail_spam {
    background-position: -54px -90px
}

.ico_mail_spam_blue {
    margin: 0 4px -3px 0;
    background-position: -18px -90px
}

.ico_player_play {
    margin-left: -24px;
    margin-top: -24px;
    background-position: 0 0
}

.ico_player_play_medium {
    margin-left: -16px;
    margin-top: -16px;
    background-position: -50px 0;
    width: 32px;
    height: 32px
}

.ico_player_play_small {
    margin-left: -8px;
    margin-top: -8px;
    background-position: 0 -50px;
    width: 16px;
    height: 16px
}

.ico_plus {
    background-position: -62px -198px
}

.ico_rate_down {
    background-position: -324px -54px
}

.ico_rate_up {
    background-position: -80px -198px
}

.ico_settings {
    background-position: -98px -198px
}

.ico_ok_blue {
    background-position: -116px -198px
}

.ico_question_light {
    background-position: -234px -144px
}

.ico_question_grey {
    background-position: -126px -220px
}

a:active .ico_question_grey {
    background-position: -144px -220px
}

.ico_user_online {
    margin: 0 5px -3px 0;
    background-position: -162px -220px
}

.ico_radio_grey {
    background-position: -252px -36px
}

.s-chb:active:after, button:active .ico_radio_grey, .form-checkbox_dropdown-menu:active:after .list-link:active .mail__checkbox:after {
    background-position: -252px -54px
}

.ico_mode_fronl {
    background-position: -162px -256px
}

.ico_delete {
    background-position: -180px -256px
}

.ico_delete_darkblue {
    background-position: -306px -252px
}

.ico_profile, .ico_edit_dim {
    background-position: 0 -292px
}

.ico_eye {
    background-position: -234px -310px
}

.ico_eye_grey {
    background-position: -252px -310px
}

.ico_plane_blue {
    background-position: -270px -310px
}

.ico_plus_grey {
    background-position: -162px -328px
}

.ico_plus_white {
    background-position: -360px -90px
}

.ico_people_darkblue {
    background-position: -378px -162px
}

.ico_befriends {
    background-position: -378px -180px
}

.ico_remove, body input[type=submit].delete-btn {
    background-position: -378px -198px
}

.ico_remove_blue {
    background-position: -378px -216px
}

.ico_arrow-back, .ico_arr11 {
    margin-bottom: 0;
    background-position: -414px -122px;
    width: 6px;
    height: 10px
}

.ico_arr10 {
    background-position: -414px -98px;
    width: 6px;
    height: 10px
}

.ico_ok_grey {
    background-position: -378px -270px
}

.ico_search {
    background-position: -378px -288px
}

.unauth_header {
    height: 33px;
    position: relative;
    margin: 0;
    overflow: hidden
}

.unauth_header__link {
    display: block
}

.unauth_header__link_logo {
    padding: 5px 5px 8px 5px !important;
    height: 17px
}

body .unauth_header__link_menu, body .unauth_header__link_enter {
    color: #aaebff;
    font-weight: bold;
    padding: 5px 5px 6px 10px;
    height: auto;
    white-space: nowrap;
    text-transform: uppercase
}

body .unauth_header__link_enter {
    padding: 5px 10px 6px 5px
}

.m5a3cc828, .list-link {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #c5d3e1;
    padding: 11px 15px;
    color: #323232;
    background: #fff;
    min-height: 19px
}

.btn-transp .list-link {
    overflow: visible;
    border-bottom: none
}

.list-link_sep {
    display: block;
    border: 1px solid #dfe6f1;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px
}

.list-link:active .list-link_sep {
    display: none
}

.list-link-grey {
    color: #7a90a0
}

.list-link_bg-yellow {
    background: #f9edbf;
    color: #323232
}

.list-block {
    padding: 10px
}

.list-block.limit {
    max-width: 75px
}

.flattened .list-link {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.user__tools_dating .list-link {
    border-bottom: 0;
    overflow: visible
}

.list-link_online {
    border-bottom: 0;
    background: #ddebf7;
    text-align: center;
    color: #323232 !important;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid #c0d4e2;
    margin-bottom: 12px
}

.input-radio > .m, .input-checkbox > .m {
    vertical-align: initial !important
}

.att_it {
    border: 1px solid #bac5cf;
    background: #dde4ea;
    margin-top: 2px;
    padding: 10px
}

.att_it > a:first-child img, .att_it .gview_link {
    float: left;
    margin-right: 6px
}

.pdt {
    padding-top: 0 !important
}

.pdb, .action-item-wrap .light-comment {
    padding-bottom: 0 !important
}

.pd0, .busi_switcher table td, .list_item .list_item, body, .error_block .error {
    padding: 0 !important
}

.section_title {
    border-top: 1px solid #CAD4DD;
    border-bottom: 1px solid #CAD4DD;
    background: #EAEEF4
}

.code_tag {
    display: block;
    padding: 0.5em;
    white-space: pre;
    overflow-x: auto;
    background: #F5F5F5;
    font-family: monospace;
    border: 1px solid #CCC;
    tab-size: 4;
    margin-top: 5px
}

.operamini .code_tag {
    max-height: none;
    overflow: auto;
    word-wrap: break-word
}

.comm_attach img, .border_images img {
    border: 1px solid #ccc
}

.pos_block {
    padding: 10px;
    background: #ddeadd;
    border: 1px solid #bacfba
}

.mt_m {
    margin-top: 5px
}

.img_small img {
    width: 40px;
    height: 40px
}

.mus_position {
    color: #999;
    position: absolute;
    left: 8px;
    top: auto
}

.fd {
    background: #000;
    bottom: 0;
    color: #fff;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    font-weight: bold
}

.inl_bl, .short_attach {
    display: inline-block;
    max-width: 100%
}

.tool_block .url-btn, .url-btn_inline .url-btn {
    padding: 0
}

.comm_attach .fdw, .short_attach .fdw {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 10px
}

.spoiler .fdw, .gview_link .fdw, .extSubject .fdw, .AttachRender .fdw {
    position: relative;
    display: inline-block;
    max-width: 100%
}

.un, .people_number {
    color: #79358c
}

.attaches_list {
    margin-top: 10px;
    clear: both;
    display: none
}

.attaches_list_item, .awb {
    border: 1px solid #999;
    background: #d8e3e7;
    margin-top: -1px
}

.attaches_list_item .file_item {
    padding: 0
}

.attaches_delete_btn {
    height: 20px;
    right: 20px;
    top: 5px;
    width: 20px;
    position: absolute
}

.stile {
    width: 80px
}

.shared_item {
    border: 1px solid #dedcdc;
    border-left: 1px solid #666;
    padding: 10px
}

.search__btn, body input.search__btn {
    width: 34px;
    height: 40px;
    max-height: 34px;
    margin: auto 0;
    padding: 0;
    text-indent: -9999px;
    outline: 0;
    border: none !important
}

body.operamini20.android input.search__btn {
    min-height: 40px
}

.font_18 .search__btn, .font_20 .search__btn {
    width: 40px
}

.font_22 .search__btn, .font_24 .search__btn {
    width: 44px
}

.search-form input.search__btn {
    margin: 0
}

body input.search__btn {
    background: transparent url('//c.spac.me/i/search_icon.png?r=1538p') center center no-repeat
}

.form-tools__left {
    margin-top: 5px;
    margin-right: 10px
}

.table__wrap {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse
}

.table__cell {
    vertical-align: top;
    border: 0;
    padding: 0;
    text-align: center;
    border-right: 1px solid #cdd4e1
}

.table__cell_last, .table_no_borders .table__cell {
    border-right: 0
}

.table__wrap-fixed {
    table-layout: fixed
}

.btn-min {
    border: 1px solid #cdd4e1;
    text-align: center;
    width: 16px;
    height: 16px;
    padding: 7px 7px 8px 7px !important;
    box-sizing: content-box
}

.touch_light .btn-min_fix, .touch_light.operamini .btn-min_fix {
    box-sizing: border-box;
    width: 33px;
    height: 34px
}

.android .btn-min_fix, .operamini .btn-min_fix {
    box-sizing: border-box;
    width: 44px;
    height: 44px
}

.touch_light.operamini .input-txt_wrapper_inline .input-txt {
    width: 60%
}

.wrap_nbb > div:last-child .list_item, .wrap_nbb > div:last-child div.oh .list_item, .list > .list_item:last-child, .list > .sublink:last-child, .wrap_nbb > div:last-of-type .bord-botm {
    border-bottom: 0
}

.list + .list_item {
    border-top: 1px solid #cccaca
}

.spo_inj-wrap, .our_spo_inj-wrap {
    background: #F5F5F5;
    margin: 10px -13px;
    padding: 0 3px
}

.our_spo_inj-wrap {
    margin: 0 -1px;
    padding: 0
}

.spo_inj, .our_spo_inj {
    border-bottom: 1px solid #d7dde6;
    border-top: 1px solid #d7dde6;
    padding: 10px 0
}

.our_spo_inj {
    padding: 0;
    margin: 0
}

.our_spo_inj > .wrapper {
    margin-left: 0;
    margin-right: 0
}

.wide .spo_inj-wrap {
    margin: 10px -5px;
    padding: 0
}

.wide .spo_inj {
    padding: 10px 5px
}

.list_item .spo_inj-wrap {
    margin: 10px -10px;
    padding: 0
}

.list_item .spo_inj {
    padding: 10px 10px
}

.block-btn {
    position: absolute
}

.block-btn {
    z-index: 100
}

.block-btn {
    right: -5px;
    top: -5px;
    height: 20px;
    width: 20px;
    cursor: pointer
}

.mysite-nick {
    color: #0e3c87
}

.player-dummy_wrap {
    position: relative;
    width: 100%;
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center
}

.player-dummy_wrap::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    background-color: #fff
}

.player-dummy {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

iframe {
    border: none;
    box-shadow: none
}

.site-versions {
    padding: 1px;
    position: relative;
    z-index: 1
}

.site-versions, .site-versions a {
    color: #7091a2
}

.sv b, .site-versions b {
    color: #000
}

.user-tile {
    width: 49%;
    display: inline-block;
    vertical-align: top
}

@media all and (max-width: 270px) {
    .user-tile {
        width: 48%
    }
}

@media all and (min-width: 340px) {
    .user-tile {
        width: 32%
    }
}

@media all and (min-width: 500px) {
    .user-tile {
        width: 24%
    }
}

.spaced-tiles {
    background: #fff;
    padding: 0 5px;
    position: relative
}

.js-on .js-on_hide {
    display: none !important
}

.js-off .js-off_hide {
    display: none !important
}

.js-on .js-on_show {
    display: block !important
}

.js-off .js-off_show {
    display: block !important
}

.js-off .js-off_show.inln {
    display: inline !important
}

.attention {
    background: #edf6ff;
    border: 1px solid #57a3ea;
    border-right: 0;
    border-left: 0;
    margin: 0 -10px;
    padding: 10px
}

body input[type="submit"].delete-btn {
    right: 10px;
    top: 50%;
    position: absolute;
    margin: -8px 0 0 0;
    background: transparent url('//c.spac.me/i/remove_min.png') center no-repeat !important
}

body input[type="submit"].ico-btn, body input[type="submit"].delete-btn {
    height: 16px;
    width: 16px;
    display: block;
    font-size: 0;
    border: none !important;
    padding: 0 !important;
    outline: 0
}

.ico-btn.centered {
    right: 10px;
    top: 50%;
    position: absolute;
    margin: -8px 0 0 0
}

.lbl-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 100
}

.lbl-part .lbl-full {
    left: auto;
    width: 36px
}

.delete_btn {
    width: 16px;
    height: 16px;
    background: url(//c.spac.me/i/cross_r.gif) center no-repeat !important
}

.break-word {
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal
}

.break-word input {
    white-space: normal
}

.fix_btn-width input {
    max-width: 98%
}

.fdw {
    position: relative;
    overflow: hidden
}

.form-link-wrap a {
    display: inline-block;
    padding: 5px;
    height: 16px;
    width: 16px
}

.myc-button_link {
    color: #333;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    padding: 7px;
    position: relative;
    background: #fefefe
}

.myc-inner_height {
    min-height: 40px
}

.myc-outer_height {
    min-height: 60px
}

.myc-button_wrap {
    width: 64px
}

.myc-news_button {
    padding: 0;
    min-height: 40px;
    height: auto
}

form {
    margin: 0 !important
}

.bought_head {
    position: absolute;
    top: -1px;
    right: -1px;
    border-right: 10px solid #13bf60;
    border-top: 10px solid #13bf60;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.submit_fix .main_submit, .submit_fix #mainSubmitForm {
    margin: 10px
}

.moders_header_block {
    padding: 3px;
    border-left: 1px solid #cccaca;
    border-right: 1px solid #cccaca;
    border-bottom: 1px solid #b3b3b3
}

.moders_header_block {
    background: #d0d2d6
}

.p12 img, img.p12 {
    width: 12px;
    height: 12px
}

.p13 img, img.p13 {
    width: 13px;
    height: 13px
}

.p14 img, img.p14 {
    width: 14px;
    height: 14px
}

.p16 img, img.p16 {
    width: 16px;
    height: 16px
}

.p20 img, img.p20 {
    width: 20px;
    height: 20px
}

.p25 img, img.p25 {
    width: 25px;
    height: 25px
}

.p40 img, img.p40 {
    width: 40px;
    height: 40px
}

.p80 img, img.p80 {
    width: 80px;
    height: 80px
}

#navi .preview {
    width: 25px;
    height: 25px;
    vertical-align: middle
}

.lc_br {
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    color: #232323;
    padding: 6px 10px
}

.lc_br a {
    color: #57a3ea
}

.lc_br a, .lc_br_sep, .lc_br_text {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin-right: 10px
}

.lc_brw {
    display: inline-block;
    white-space: nowrap
}

.lc_br a, .lc_br_text {
    padding: 4px 0
}

.lc_br_sep {
    margin: 0 10px 0 0
}

.lc_br_text {
    word-break: break-word
}

#header_path {
    border-bottom: 1px solid #c0d0de
}

.return.full_link:before {
    top: -10px;
    bottom: -10px
}

.z10 {
    z-index: 10
}

.sq_click {
    margin: -10px;
    padding: 10px
}

.full_link:before, .mfcbd0990:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.full_link_indent:before {
    right: 36px
}

.action-item-wrap .bord-botm {
    border-bottom: 0
}

.col_blocks .stnd_padd {
    padding: 5px 0
}

.btnb {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px !important;
    line-height: 100%
}

.action-item-wrap .stnd_padd, .action-item-wrap .list_item, .action-item-wrap .block {
    padding-left: 0;
    padding-right: 0
}

.action-item-wrap .friends_access_list {
    padding-left: 10px;
    padding-right: 10px
}

.action-item-wrap .list_item, .action-item-wrap .block {
    padding-bottom: 0
}

.fl_n {
    float: none !important
}

.busi .site-versions, .system-message .site-versions {
    padding-top: 10px
}

.bb {
    padding: 0 5px
}

select {
    max-width: 90%
}

.no-text img {
    margin: 0 !important
}

.btn-tools_centered .icon-link {
    border: 1px solid #cdd4e1 !important;
    padding: 12px;
    min-height: 16px;
    height: 16px;
    font-size: 0
}

.btn-tools_centered {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
    margin-top: -21px
}

.btn-tools_centered-indent {
    right: 15px
}

.list .last > div {
    border-bottom: 0
}

.m029709b5, .link {
    display: block;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #cdd4e1;
    color: #7a90a0;
    padding: 10px;
    font-size: inherit;
    box-sizing: content-box;
    line-height: normal
}

.action-bar .link {
    padding-left: 0;
    padding-right: 0
}

.table__links .table__cell, .table__links .link > span {
    vertical-align: middle
}

.table__links .link {
    padding: 10px 0
}

button.link, input[type="submit"].link {
    border: none;
    border-bottom: 1px solid #cdd4e1
}

.table__cell .link {
    min-height: 0 !important
}

.link.yellow {
    background: #f9edbf;
    margin: 0
}

.link img + span, .inl-link img + span {
    vertical-align: middle
}

.header {
    text-align: center;
    margin: 13px 5px 11px 5px
}

.title {
    text-align: center;
    padding: 8px 10px 7px;
    text-transform: uppercase;
    background: #cddae7;
    font-weight: bold
}

.title.close {
    position: relative;
    padding: 8px 36px 7px 10px
}

.close_btn {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    font-size: 0
}

.cnt {
    display: inline-block;
    border: 1px solid;
    padding: 1px 3px 0 3px;
    margin-left: 5px
}

.title .cnt {
    margin-top: -2px
}

.side_chb label {
    padding: 10px;
    margin-right: -10px
}

.link img, .block-title img {
    margin-right: 5px
}

.bordered img {
    margin: 0
}

.link.full {
    width: 100%;
    padding: 10px 0 !important;
}

.yellow-full {
    background: #f9edbf;
    color: #323232 !important
}

.blue-full {
    color: #fff;
    background: #395387 !important
}

.green-full {
    color: #fff;
    background: #61a961 !important
}

.lightblue-full {
    color: #fff;
    background: #00a4ed !important
}

.return, button.link:last-child, input[type="submit"].link:last-child, .link:last-child {
    border: none
}

.return {
    background: none;
    text-align: center;
    padding: 0 15px;
    margin: 10px 0;
    word-wrap: break-word;
    position: relative
}

.link.arrow, .link_arrow {
    position: relative;
    padding-right: 40px
}

.link.arrow:after {
    content: '';
    background: url(//c.spac.me/i/arr_grey.png) center no-repeat;
    position: absolute;
    display: block;
    width: 8px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    right: 22px
}

.link_arrow .arr {
    position: absolute;
    top: 50%;
    margin-right: 0;
    margin-top: -6px;
    right: 22px
}

input.darkblue, a.darkblue, button.darkblue {
    color: #0E3C87
}

a.blue, input.blue, button.blue {
    color: #57a3ea
}

a.selected {
    background: #b8cde3;
    border-bottom-color: #b8cde3
}

.is_final {
    text-align: center
}

.wrapper button.is_final {
    border: 0
}

.wrapper, .wrapper-nobg, .m732d68ae {
    margin: 10px 5px
}

.wrapper, .m732d68ae {
    background: #fff;
    border: 1px solid #c5d3e1
}

.wrapper.wide, .wrapper-nobg.wide {
    margin: 10px 0;
    border-right: 0;
    border-left: 0
}

.wrap_list {
    border-bottom: 0
}

.wrap_list .link {
    border-bottom: 1px solid #cdd4e1 !important
}

.lbl, .grey, .block.grey {
    color: #7a90a0
}

.block, .bubble, .m8272ee61, .block_narrow {
    padding: 10px;
    display: block;
    background: #fff;
    color: #323232
}

.block.wide {
    padding: 10px 5px
}

.block-yellow {
    background: #f4f0c0;
    border: none
}

.block-wrapper {
    margin: 10px 5px 20px 5px
}

.error + .block_fix {
    padding-top: 10px !important
}

.block_fix + .error {
    margin-top: 10px !important
}

.quote, .bubble {
    background: #ddebf7;
    padding: 10px;
    margin: 10px 0;
    position: relative
}

.bubble.wide {
    padding: 5px
}

.quote {
    border: 1px solid #c0c6d2
}

.block-cntrl {
    padding-right: 36px
}

.block-cntrl .full_link:before {
    right: 36px
}

.menu_btn {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    z-index: 100;
    cursor: pointer
}

.nick {
    color: #0e3c87
}

.block_narrow {
    padding: 0 5px 10px 5px
}

.bord {
    border: 1px solid #c5d3e1
}

.bord-botm {
    border-bottom: 1px solid #c5d3e1
}

.bord-top {
    border-top: 1px solid #c5d3e1
}

.lbl {
    margin-bottom: 6px;
    display: block
}

.link-red {
    color: #ff6837 !important
}

.input-txt {
    background: #fff;
    border: 1px solid #c0c6d2;
    width: 100%;
    display: block;
    margin: 0;
    padding: 8px 10px
}

.input-txt[size] {
    width: auto
}

.input-txt_wrapper {
    padding-right: 22px
}

.error .input-txt {
    border: 1px solid #ff9a95
}

.error__msg {
    color: #ff6837;
    padding-top: 10px
}

.block.error {
    border-left: 0 !important;
    border-right: 0 !important
}

.input-txt_wrapper_inline {
    border: 1px solid #c0c6d2;
    overflow: hidden;
    padding: 3px 3px 0 3px;
    font-size: medium;
    min-height: 29px;
    background: #fff
}

.input-txt_wrapper_inline .input-txt {
    border: 1px solid #fff;
    padding: 3px;
    outline: 0;
    width: 70%;
    -webkit-appearance: none
}

.input-txt_wrapper_inline .s-property {
    margin: 0 3px 1px 0 !important
}

.input-txt_wrapper_inline .s-property__inner {
    padding: 3px 25px 3px 7px !important
}

.input-txt_wrapper_inline .s-property:before {
    width: 25px !important
}

.input-txt_wrapper_inline input.search__btn {
    position: relative;
    margin: -5px -5px 3px 0
}

body .input-txt_wrapper_inline input[type="submit"].delete-btn {
    right: 7px
}

.input-txt_wrapper_search {
    padding-right: 20px
}

.input-txt_grid_input .input-txt {
    border: 0 !important
}

.input-txt_grid_input {
    width: 100%;
    border: 1px solid #c0c6d2;
    padding: 0
}

.input-txt_grid_sep {
    padding: 0 0 0 10px
}

.input-txt_grid_btn {
    padding: 0;
    border: 1px solid #c0c6d2;
    background: #fff
}

.inline_button {
    background: #fff !important;
    border: 0 !important
}

.b {
    font-weight: bold !important
}

.blue, .link-blue, .link-imp {
    color: #57a3ea
}

.gl a, .link-dim, .text-gray, .link-normal, .link-grey, .text_normal {
    color: #7a90a0
}

.black {
    color: #323232
}

.return .ico_arrow-back {
    margin: 0 4px 0 0
}

.pag td {
    border-right: 0
}

.none_border {
    border: none !important
}

.transpar {
    background: none !important
}

.link.transpar, button.transpar, input[type="submit"].transpar {
    border: 0 !important;
    font-weight: normal;
    margin: 8px 0 9px 0;
    padding: 0 10px !important
}

.bordered {
    display: block;
    text-align: center;
    padding: 1px;
    border: 1px solid #becedd;
    color: #7a90a0;
    overflow: hidden;
    text-overflow: ellipsis
}

.bordered.inl_bl {
    display: inline-block;
    padding: 1px 3px;
    vertical-align: middle
}

.bordered .ico {
    margin-left: 5px
}

.f_descr_text {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.f_18p {
    position: absolute;
    top: 2px;
    left: 2px
}

.cnt_green, .bordered.on, .bordered.green {
    color: #61a961;
    border: 1px solid #61a961
}

.bordered.blue {
    color: #57a3ea;
    border: 1px solid #57a3ea
}

.bordered.red {
    border: 1px solid #ff6837
}

.padd_right {
    padding-right: 8px
}

.padd_left {
    padding-left: 8px
}

.green, .green_link, .link-green, a.green_link span, #m8ee7ce2d a {
    color: #61a961
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

.js-off .hide_js_off {
    display: none
}

.js-off .show_js_off {
    display: block
}

.yellow {
    color: #FFA000
}

.red, .link.red {
    color: #ff6837
}

.purple {
    color: #673ab7
}

.icon-fallback {
    display: none
}

@media all and (max-width: 480px) {
    .table__cell a img, .table__cell a button, .pagw img {
        display: none
    }

    .icon-fallback {
        display: inline
    }

    .menu_wrap a img, .action-bar .table__cell a img, .gal_toolbar .table__cell a img, .table__cell .font0 a img, .show_icons .table__cell a img {
        display: inline
    }
}

.stnd_padd .wrapper {
    margin: 10px 0
}

textarea {
    resize: vertical
}

body .bord-right0 {
    border-right: 0 !important
}

body .bord-left0 {
    border-left: 0 !important
}

.hidden_el {
    overflow: hidden;
    height: 0
}

.topic_inline {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom
}

.friends_access_list .topic_inline {
    display: inline
}

.horiz_sep {
    padding: 0 5px;
    display: inline-block;
    border-right: 1px solid #7a90a0
}

.horiz_sep:first-child {
    padding-left: 0
}

.horiz_sep:last-child {
    border-right: 0
}

input[type="submit"].btn-transp, input[type="submit"].btn-transp:active, input[type="submit"].btn-transp:hover, button.btn-transp, button.btn-transp:active, button.btn-transp:hover, .btn-transp, .btn-transp:active, .btn-transp:hover {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    width: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent
}

.font_18 .link img {
    margin-top: -3px
}

.ex_video.s129_128 {
    max-height: 128px
}

.ex_video.s81_80 {
    max-height: 80px
}

.hide {
    display: none
}

.m3eb2909d {
    text-align: center
}

.yandex_rtb {
    display: none;
    padding-top: 10px
}

@media all and (min-width: 350px) {
    .yandex_rtb {
        display: block
    }
}

.m822a0099 {
    float: right;
    margin-top: 5px;
    margin-right: 5px
}

.m92521ef5 {
    margin: 10px 5px;
    border: 1px solid #cccaca;
    background: #fff;
    text-align: center
}

.m92521ef5 .list_item {
    text-align: left;
    border-bottom: 0;
    border-top: 1px solid #b3b3b3
}

.m8272ee61 {
    position: relative;
    text-align: left
}

.m732d68ae .m8272ee61 {
    border-bottom: 1px solid #c5d3e1
}

.m56589bee {
    font-size: 0;
    float: left;
    margin-right: 6px
}

.mbc1d2a30 {
    position: relative;
    overflow: hidden
}

.mbc1d2a30 img {
    float: left
}

#m8ee7ce2d .mbc1d2a30 {
    font-size: 13px
}

/*source host backend24, pid 26246*/